*, h1, h2, p, input, button {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-align: center;
    background-color: transparent;
}

button, input, select {
    background-color: rgb(224, 224, 224);
}

input:focus, button:focus, select:focus {
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

button:hover, input:hover, select:hover {
    cursor: pointer;
}

#content {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
}

/*
    LANDING
*/
#landing-container {
    width: 60%;
    height: fit-content;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: .8rem;
    border: 2px solid white;
    padding: 1rem;
    background-image: url('resources/fur.jpg');
}

#werewolf-title {
    font-size: 4rem;
    color: white;
}

#landing-connect-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#landing-username-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-label {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: .5rem .5rem 0 0;
}

.landing-input {
    width: 100%;
    border-radius: .5rem;
    padding: .5rem;
    background-color: rgb(224, 224, 224);
    font-size: 1.3rem;
    border: 2px solid black;
}

#landing-create-game-button {
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 3px solid rgb(0, 0, 0);
}

#landing-create-game-button:hover {
    border: 3px solid white;
}

#landing-join-game-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing-join-game-button {
    width: 100%;
    padding: .2rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    margin-top: .5rem;
    background-color: rgb(55, 83, 121);
    color: white;
    border: 2px solid rgb(0, 0, 0);
}

#landing-join-game-button:hover {
    border: 2px solid rgb(255, 255, 255);
}

.landing-error-message {
    color: red;
    display: none;
}

/*
    CREATE GAME
*/
#create-game-container {
    width: 80%;
    height: fit-content;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(59, 59, 59);
    display: none;
}

#create-num-players-container {
    margin: 1rem;
}

#create-num-label {
    color: white;
    font-size: 1.5rem;
}

#create-num-input {
    font-size: 1.1rem;
}

#create-characters-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.create-character-image {
    width: 18vmin;
    height: 18vmin;
    border: 2px solid white;
    margin: .2rem .1rem;
}

.create-character-image:hover {
    cursor: pointer;
}

.active-create-character {
    filter: invert(100%);
}

#create-characters-warning {
    margin: 1rem 0;
    color: white;
    height: 3.3rem;
}

#create-game-button {
    width: 95%;
    padding: .8rem;
    height: 3.3rem;
    margin: 1rem 0;
    border-radius: .2rem;
    font-size: 1.5rem;
    display: none;
}


/*
    PRE GAME
*/
#pregame-lobby-container {
    position: relative;
    width: 80%;
    height: fit-content;
    min-height: 80vh;
    padding: 0 1rem .3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(59, 59, 59);
    display: none;
}

#pregame-leave-button {
    position: absolute;
    font-size: 1.2rem;
    top: 0;
    left: 0;
    margin-top: -1.5rem;
    background-color: transparent;
    color: rgb(150, 150, 150);
}

#pregame-leave-button:hover {
    text-decoration: underline;
}

#pregame-back-to-lobby-button {
    position: absolute;
    font-size: 1.2rem;
    top: 0;
    left: 0;
    margin-top: -1.5rem;
    background-color: transparent;
    color: rgb(150, 150, 150);
    display: none;
}

#pregame-back-to-lobby-button:hover {
    text-decoration: underline;
}

#pregame-lobby-stats {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#pregame-players-container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: scroll;
    background-color: rgb(116, 116, 116);
}

.pregame-player {
    font-size: 1.5rem;
    margin: .3rem;
    color: #FBFF1F;
}

#pregame-bottom-container {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#werewolf-logo {
    width: 80%;
    height: auto;
}

#pregame-waiting-message {
    font-size: 1.4rem;
    color: white;
}

.pregame-host-button {
    width: 49%;
    padding: .2rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    border: 2px solid rgb(255, 255, 255);
}

.pregame-host-button:hover {
    border: 2px solid rgb(0, 0, 0);
}

#pregame-host-start-button {
    background-color: transparent;
    color: gray;
    border: 2px solid gray;
}

#pregame-host-start-button:hover {
    cursor: default;
}

.active-pregame-start-button {
    border: 2px solid rgb(255, 255, 255) !important;
    background-color: rgb(224, 224, 224) !important;
    color: black !important;
}

.active-pregame-start-button:hover {
    border: 2px solid rgb(0, 0, 0) !important;
    cursor: pointer !important;
}

.pregame-nonhost-button {
    width: 100%;
    padding: .2rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    border: 2px solid rgb(255, 255, 255);
}

.pregame-nonhost-button:hover {
    border: 2px solid rgb(0, 0, 0);
}

#pregame-update-settings-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(59, 59, 59);
    display: none;
}

#pregame-update-num-players-container {
    margin: 1rem;
}

#pregame-update-num-label {
    color: white;
    font-size: 1.5rem;
}

#pregame-update-num-input {
    font-size: 1.1rem;
}

#pregame-update-characters-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.pregame-update-character-image {
    width: 18vmin;
    height: 18vmin;
    border: 2px solid white;
    margin: .2rem .1rem;
}

.pregame-update-character-image:hover {
    cursor: pointer;
}

.active-pregame-update-character {
    filter: invert(100%);
    border: 2px solid blue;
}

#pregame-update-characters-warning {
    margin: 1rem 0;
    color: white;
    height: 3.3rem;
}

#pregame-update-game-button {
    width: 100%;
    padding: .8rem;
    height: 3.3rem;
    margin: 1rem 0;
    border-radius: .2rem;
    font-size: 1.5rem;
    display: none;
}

#pregame-view-settings-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(59, 59, 59);
    display: none;
}

#pregame-view-characters-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.pregame-view-character-image {
    width: 18vmin;
    height: 18vmin;
    border: 2px solid white;
    margin: .2rem .1rem;
}

.active-pregame-view-character {
    filter: invert(100%);
    border: 2px solid blue;
}


/*
    GAME
*/


#game-container {
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-view-card-container {
    width: fit-content;
    height: fit-content;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    background-color: rgb(59, 59, 59);
}

#game-view-card-owner {
    color: white;
}

#game-view-card-below {
    width: 100%;
}

#game-view-card-below-ready {
    height: 2rem;
    width: 100%;
}

#game-view-card-ready-tap-to-view {
    height: 100%;
}

#game-view-card-ready-button {
    width: 100%;
    height: 100%;
    display: none;
}

#game-view-card-ready-waiting {
    height: 100%;
    display: none;
    font-size: 1.3rem;
}

#game-view-card-below-back {
    display: none;
}

/*
        FLIP CARD ANIMATION
*/

.game-card-container {
    width: 280px;
    height: 280px;
    perspective: 600px;
}

.game-card-pic {
    width: 100%;
    height: auto;
}

.game-card-back-pic {
    width: 100%;
    height: auto;
}
  
.game-card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.game-card.is-flipped {
    transform: rotateY(180deg);
}

.game-card-face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 5px solid #FBFF1F;
    border-radius: .5em;
    padding: .7rem;
    box-shadow: 0 0 10px black;
}

.game-card-face-front {
    background: #FBFF1F;
    transform: rotateY(180deg);
}

.game-card-face-back {
    background-color: #dedede;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23fbff1f' stroke-width='3.3' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    padding: 1.5rem;
}




/*
    NIGHT GAME
*/
#night-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

#night-light {
	background: #fbff1fa9;
	border-radius: 50%;
	box-shadow: 0 0 10px 3vmin #fbff1fa9;
	height: 20vmin;
	width: 20vmin;
    animation: night-light 7s infinite;
    backdrop-filter: blur(2px);
}

@media screen and (max-width: 900px) {
    #landing-container {
        width: 90vw;
        min-height: 90vh;
    }

    #landing-connect-container {
        width: 99%;
    }

    #create-game-container {
        width: 95%;
        height: fit-content;
    }

    .create-character-image {
        width: 22vmin;
        height: 22vmin;
        margin: .2rem .1rem;
    }

    #pregame-lobby-container {
        width: 95%;
    }

    #pregame-lobby-stats h1{
        font-size: 1.5rem;
    }
}

@keyframes night-light {
    0% {
        
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
